<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Paiement</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <i>Pas d'API disponible pour valider le numéro d'une envelope</i>
    <form [formGroup]="paymentForm" (ngSubmit)="submitPaymentForm()">
        <ion-item>
            <ion-input formControlName="envelopeKey"
                       placeholder="Numéro d'envelope"
                       type="text"
                       required
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-input formControlName="amount"
                       placeholder="montant"
                       inputmode="decimal"
                       type="number"
                       min="0"
                       required>
            </ion-input>
        </ion-item>
        <ion-button type="submit" expand="block" [disabled]="!paymentForm.valid">Inscription</ion-button>
    </form>
</ion-content>
