<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Légumes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let vegetable of vegetables" href="" (click)="toDetail($event, vegetable)">
        <ion-grid>
            <ion-row class="ion-image-container">
                <ion-col size="3">
                    <!-- TODO find way to display the image only after loading -->
                    <ion-img *ngIf="vegetable.picture" [src]="pictureUrl(vegetable.picture)"></ion-img>
                </ion-col>
                <ion-col>
                    <ion-card-title>{{vegetable.name || "???" }}</ion-card-title>
                    <ion-card-content>
                        <div>{{vegetable.price || "???" }} CHF/{{vegetable.unit || "???" }}</div>
                        <div>Disponibles : {{vegetable.stock || "???"}}</div>
                        <div class="vege-fineprint">Mise à jour : {{ vegetable.updated_at | date: 'dd.MM.yyyy' || "???"}}</div>
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>
