<ion-header>
    <ion-toolbar>
        <ion-title>Stock</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img *ngIf="displayedVegetableIndex != null"
             [src]="data.pictureUrl(vegetablesToUpdate[displayedVegetableIndex].picture)"></ion-img>
    <ion-card-title *ngIf="displayedVegetableIndex != null">
        {{vegetablesToUpdate[displayedVegetableIndex].name}}
    </ion-card-title>
    <form *ngIf="displayedVegetableIndex != null"
          [formGroup]="quantityForm" (ngSubmit)="submitQuantity()">
        <ion-input
                name="quantity"
                formControlName="quantity"
                placeholder="Quantité"
                type="number"
                min="0"
                required
        ></ion-input>
        {{vegetablesToUpdate[displayedVegetableIndex].unit}}
    </form>
    <ion-button (click)="decrementDisplayedVegetableIndex()">Gauche</ion-button>
    <ion-button (click)="incrementDisplayedVegetableIndex()">Droite</ion-button>
</ion-content>
