<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Panier</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- TODO remplacer par une liste déroulante -->
    <select placeholder="Nouveau légume">
        <!-- TODO adapt the pipe to whatever cart structure is chose (probably {id: string, quantity: number}) -->
        <option *ngFor="let vegetable of vegetables | unselectedVegetables:cart" value="{{vegetable.id}}">
            {{vegetable.name}} : {{vegetable.price}} CHF/{{vegetable.unit}}
        </option>
    </select>
</ion-content>
