<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Panier</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-select [(ngModel)]="selectedVegetableId"
                (ngModelChange)="addSelectedToCart()"
                interface="popover"
                placeholder="Nouveau légume"
    >
        <ion-select-option *ngFor="let vegetable of selectableVegetables" value="{{vegetable.id}}">
            {{vegetable.name}} {{vegetable.price}} CHF/{{vegetable.unit}}
        </ion-select-option>
    </ion-select>
    <form [formGroup]="formGroup">
        <ion-list>
            <ion-grid>
                <ion-row>
                    <ion-col class="total">
                        <strong> Total : {{this.cart.totalPrice() | number:"1.2-2" }}</strong>
                    </ion-col>
                    <ion-col class="total">
                        <ion-button type="submit" expand="block">
                            Payer
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button color="danger" (click)="deleteAllCartItems()">
                            Vider
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let inputControl of formGroup.controls | keyvalue; let i = index">
                    <!-- inputControl.key : id of the vegetable -->
                    <ion-item>
                        <ion-col size="2">
                            <ion-button color="danger"
                                        (click)="deleteCartItem(+inputControl.key)"
                            >X
                            </ion-button>
                        </ion-col>
                        <ion-col size="6">
                            <ion-label><strong>{{cart.content[i].vegetable.name}}</strong></ion-label>
                            <ion-label>{{cart.content[i].vegetable.price}}
                                CHF/{{cart.content[i].vegetable.unit}}</ion-label>
                        </ion-col>
                        <ion-col size="4">
                            <ion-input name="{{inputControl.key}}"
                                       formControlName="{{inputControl.key}}"
                                       (ngModelChange)="onQuantityChange(cart.content[i].vegetableId, $event)"
                                       inputmode="decimal"
                                       type="number"
                                       min="0"
                                       required
                            ></ion-input>
                        </ion-col>
                    </ion-item>
                </ion-row>
            </ion-grid>
        </ion-list>
    </form>
</ion-content>
