<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{data.vegetable.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- TODO find way to display the image only after loading -->
    <ion-img *ngIf="data.vegetable.picture" [src]="data.pictureUrl(data.vegetable.picture)"></ion-img>

    <div *ngIf="cart.content">
        <ion-button *ngIf="!cart.hasVegetable(data.vegetable.id); else alreadyInCart"
                    (click)="addToCart()" expand="block">
            Ajouter au panier
        </ion-button>

        <ng-template #alreadyInCart>
            <ion-item>
                <i> Déjà dans le panier </i>
            </ion-item>
        </ng-template>
    </div>

    <div *nge></div>
    <ion-list>
        <ion-item *ngIf="data.vegetable.details">
            {{data.vegetable.details}}
        </ion-item>
        <ion-item *ngIf="data.vegetable.price && data.vegetable.unit">
            <ion-label>{{data.vegetable.price | number:"1.2-2"}} CHF/{{data.vegetable.unit}}</ion-label>
        </ion-item>
        <ion-item *ngIf="data.vegetable.stock">
            <ion-label>Disponible : {{data.vegetable.stock}}</ion-label>
        </ion-item>
        <ion-item *ngIf="data.vegetable.suppliers">
            <ion-list>
                <ion-list-header>Fournisseurs :</ion-list-header>
                <ion-item *ngFor="let supplier of data.vegetable.suppliers">
                    {{supplier.company_name || "???"}}{{supplier.city ? ", " + supplier.city : ""}}
                </ion-item>
            </ion-list>
        </ion-item>
    </ion-list>
</ion-content>
