<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mon Profil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>{{authentication.user.firstname}} {{authentication.user.lastname}}</ion-item>
    <ion-item *ngIf="data.balance">Crédit : {{data.balance.credit}}</ion-item>
    <ion-item *ngIf="data.balance">Débit : {{data.balance.debit}}</ion-item>
    <ion-item *ngIf="data.balance">Balance : {{data.balance.credit - data.balance.debit}}</ion-item>
    <ion-button expand="block" (click)="toVegetables()">Légumes</ion-button>
    <ion-button expand="block" (click)="toCart()">Panier</ion-button>
</ion-content>
