<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Vedgiz - Accueil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">

        <form [formGroup]="applicationForm" (ngSubmit)="submitApplicationForm()">
            <ion-item>
                <ion-input type="text" formControlName="firstname" placeholder="Prénom" required=""></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" formControlName="lastname" placeholder="Nom"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" formControlName="phonenumber" placeholder="Téléphone"></ion-input>
            </ion-item>
            <ion-button type="submit" [disabled]="!applicationForm.valid">Inscription</ion-button>
        </form>
    </div>
</ion-content>
